/* Secondary Button S */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
gap: 12px;

position: relative;
width: 160px;
height: 42px;
right: 5210.88px;
top: 205px;

/* Spring Wood */
border: 0.8px solid #F9F4EE;
border-radius: 100px;
transform: rotate(0.36deg);


/* Button 2 */

margin: 0 auto;
width: 140px;
height: 14px;

/* Desktop/Button Desktop */
font-family: 'ES Park TRIAL';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */
text-align: center;

/* Spring Wood */
color: #F9F4EE;

transform: rotate(0.36deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
