/* Colours */



/* White */
background: #FFFFFF;


/* Cherrywood */
background: #601D1D;


/* Spring Wood */
background: #F9F4EE;

/* Black Full */
background: #000000;

/* White */
background: #FFFFFF;
/* Black Full */
border: 1px solid #000000;



top: 61px;

/* Lavander Purple */
background: #8E84B6;


/* Raspberry Red */
background: #9F4B67;




/* Fire Bush */
background: #EC9F27;


/* Pale Gold */
background: #FFD869;



/* Green Yellow */
background: #B4AD27;





/* Northern Lights Blue */
background: #87C6B3;


/* Cherrywood #601D1D */





/* Spring Wood #F9F4EE */


/* Black Full */
color: #000000;



/* Raspberry Red #9F4B67 */


/* Black Full */
color: #000000;



/* Green Yellow #B4AD27 */



/* Black Full */
color: #000000;



/* Lavender Purple #8E84B6 */

/* Black Full */
color: #000000;



/* Northern Light Blue #87C6B3 */






/* Fire Bush #EC9F27 */





/* Full Black #000000 */


/* Black Full */
color: #000000;



/* Pale Gold #FFD869 */



/* Black Full */
color: #000000;



/* White #000000 */

/* Black Full */
color: #000000;

/* Colours */
